*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
    font-family: 'Gentona';
    font-size: 14px;
    font-weight: 400;
}
/* main{
    border: 2px solid red;
} */
#nav{
    background-color: black;
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
#nav1{
    margin-left: 15px;
    margin-top: 10px;
}
#nav1 span img{
    height: 40px;
    width: 52px;
}
#nav1 span+span{
    /* border: 2px solid red; */
    color: #fff;
    padding-left: 20px;
    position: absolute;
    top: 25px;
    left: 100px;
}
#nav2{
    /* border: 2px solid red; */
    margin-right: 10px;
}
#nav2 button{
    border: none;
    height: 50px;
    width: 120px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.17);
    color: white;
}
#nav2 button+button{
    border: none;
    height: 50px;
    width: 130px;
    margin-top: 5px;
    background-color: #fff;
    color: black;
}
#main1{
    border: 2px solid;
    height: 200px;
    background-color: black;
}
#main1 h1{
    color:#fff;
    font-size: 40px;
    font-weight: bold;
    margin-top: 90px;
    margin-left: 240px;
}
#main2 div{
    /* border: 2px solid white; */
    height: 30px;
    width: 300px;
    padding-top: 6px;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    margin-left: 200px;
}
#main2 div+div{
    height: 90px;
    width: 900px;
    background-color: #F2F4F6;
}
#main2 div+div button{
    height: 50px;
    width: 250px;
    background-color: #fff;
    border:1px solid gray;
    margin-top: 10px;
}
#main2 div+div button+button+button{
    box-shadow: -3px 3px 0 #32c86e;
    background-color: black;
    font-family: Gentona,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    color: #fff;
    background-image: url(./assects/3rd\ button.svg),radial-gradient(127.68% 2996.56% at 12.65% 127.68%, #000000 0%, #222222 100%)
}
#main2 div+div button+button+button span{
    color: #3CEF83;
    font-weight: bold;
}
#main3{
    width: 900px;
}
#main3 img{
    width: 900px;
    margin-left: 200px;
}
#main4-sub{
    /* border: 2px solid red; */
    height: inherit;
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
#main4 h1{
    color:#000000;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}
#main4-sub div{
    /* border: 2px solid red; */
    height: 350px;
    width: 200px;
}
#main4-sub div span img{
    height: 140px;
    margin-left: 30px;
}
.card{
    /* border: 2px solid; */
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.cardpara{
    /* border: 2px solid; */
    text-align: center;
    /* margin-left: 10px; */
}
#main5 h1{
    color:#000000;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}
#main5-sub{
    /* border: 2px solid red; */
    height: inherit;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
.card1{
    /* border: 2px solid; */
    font-size: 25px;
    font-weight: bold;
}
.cardpara1{
    /* border: 2px solid; */
        font-size: 15px;
        color: rgba(0, 0, 0, 0.6);
}
#main6{
    display: flex;
    justify-content: space-evenly;
    height: inherit;
    margin: auto;
    width: 80%;
}
#main6 div video{
    height: 900px;
    width: 500px;
}

#main6 div+div{
    /* border: 2px solid; */
    height: 600px;
    margin-top: 140px;
}
#main6 div+div h1{
    color:#000000;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    font-size: 45px;
    font-weight: bold;
}
#main6-sub h2{
    font-weight: 900;
    font-size: 25px;
}
.para{
    /* border: 2px solid; */
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
}
#main7{
    /* border: 2px solid; */
    height: 500px;
    background-color: #F1F6E9;
}
#h1{
    padding-left: 210px;   
    color:#000000;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    font-size: 40px;
    font-weight: 500;
}
#main7-sub{
    /* border: 2px solid; */
    height: inherit;
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
#sub-right{
    /* border: 2px solid red; */
    width: 400px;
}
#sub-left img{
    height: 300px;
    /* border: 2px solid; */
    /* margin-top: 20px; */
}
#sub-right h1{
    color:#000000;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    font-size: 40px;
    font-weight: 500;
    display: inline;
}
#sub-right h1+p{
    display: inline-block;
    /* border: 2px solid; */
    height: 30px;
    background-color: rgba(22, 170, 81, 0.1);
    color: #16AA51;
    padding: 8px;
}
#h2{
    /* border: 2px solid; */
    font-size: 20px;
}
#sub-right-div{
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
}
#sub-right-div img{
    margin-left: 15px;
}
#main8-background{
    background-color: #F1F6E9;
}
#main8{
    /* border: 2px solid; */
    height: inherit;
    margin: auto;
    width: 70%;
    display: flex;
    justify-content:space-evenly;
    
}
/* #main8 div{
    border: 2px solid;
} */
#main8 div p{
    /* border: 2px solid; */
    font-size: 23px;
}
#main8 div p+h2{
    /* border: 2px solid; */
    font-size: 25px;
    margin-top: 20px;
    font-weight: bold;
}
#main8 div p+h2+h3{
    margin-top: 65px;
    font-size: 23px;
    color: #16AA51;
    font-weight: bold;
}
#main9{
    /* border: 2px solid; */
    margin-top: 10%;
}
#main9-sub{
    /* border: 2px solid blue; */
    height: inherit;
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
#main9 h1{
    /* border: 2px solid red; */
    color:#000000;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    font-size: 40px;
    font-weight: 500;
    padding-left: 200px;
    margin: 20px;
}
#main9-sub div p{
    color: #5c5c5c;
    font-size: 18px;
}
#main9-sub div+div h2{
    font-size: 18px;
    font-weight: bold;
}
#main9-sub div+div h2+p{
    color: #212026;
    font-size: 16px;
}
#main9-sub div+div+div h2{
    font-size: 18px;
    font-weight: bold;
}
#main10{
    /* border: 2px solid; */
    margin-top: 40px;
}
#main10-sub{
    /* border: 2px solid red; */
    height: inherit;
    margin: auto;
    width: 70%;
    display: flex;
}
#main10-h2{
    font-size: 20px;
    color: #16AA51;
    font-weight: bold;
    padding-left: 200px;
}
#main11-background{
    /* border: 2px solid; */
    margin-top: 70px;
}
#main11{
    /* border: 2px solid; */
    height: inherit;
    margin: auto;
    width: 70%;
    display: flex;
    justify-content:space-around;
    margin-top: 40px;
}
#main11-background h1{
    color:#000000;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    font-size: 40px;
    font-weight: 500;
    padding-left: 210px;
}
#main11 div p+h2{
    /* border: 2px solid; */
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}
#main11 div p+h2+h3{
    margin-top: 65px;
    font-size: 23px;
    color: #16AA51;
    font-weight: 900;
}
#main11 div p{
    /* border: 2px solid; */
    font-size: 23px;
}
/* #main11 div{
    border: 2px solid;
} */
#main11 div+div{
    /* border: 2px solid; */
    width: 700px;
    display: flex;
    justify-content: space-evenly;
}
#main12{
    border: 2px solid;
}
#main12 h1{
    color:#000000;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    font-size: 40px;
    font-weight: 500;
    padding-left: 210px;
}
#main12-sub{
    /* border: 2px solid red; */
    height: inherit;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
#main12-sub div img{
    height: 200px;
}
.card2{
    font-size: 20px;
}
.cardpara2{
    font-size: 23px;
    color: #16AA51;
    font-weight: 900;
    position: relative;
}
.cardimg{
    width:25px;
    position: absolute;
    bottom: 5px;
}